<% layout("/layouts/boilerplate") %>
<style>
    body { margin: 0; padding: 0; }
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
  </style>
    <h2><%= allInfo.title %></h2>
    
    <div class="card listing-card" style="width: 20rem;">
    <img src="<%= allInfo.image.url %>" class="card-img-top show-img" alt="listing-image">
    <div class="card-body">
        <p class="card-text"></p>
    </div>
    </div>
    <h4>Owned by: <%= allInfo.owner.username %></h4>
    <ul>
        <li><%= allInfo.description %></li>
        <li><%= allInfo.location %></li>
        <li>&#8377;<%= allInfo.price ? allInfo.price.toLocaleString("en-IN") : "N/A" %></li>
    </ul>
    <% if(currentUser && allInfo.owner._id.equals(currentUser._id)) { %>
        <div class="row">
        <div class="col-8 d-flex justify-content-start gap-2">
            <form action="/listings/<%= allInfo._id %>/edit" method="GET">
            <button class="btn btn-dark edit-btn">Edit</button>
            </form>
            <form method="POST" action="/listings/<%= allInfo._id %>?_method=DELETE">
            <button class="btn btn-dark delete-btn">Delete</button>
            </form>
        </div>
        </div>
    <% } %>
    <br><br>

    <% if(currentUser) { %>
    <div class="col-8 mb-3">
        <h4>Leave a Review!</h4>
        <form action="/listings/<%= allInfo._id %>/review" method="POST" novalidate class="needs-validation">
            <fieldset class="starability-slot">
            <legend>Rating:</legend>
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>

            <div>
                <label for="comment" class="form-label"></label>
                <textarea name="review[comment]" id="comment" cols="30" rows="6" class="form-control" required></textarea>
                <div class="invalid-feedback">Please add some review</div>
            </div>
            
            <br><br>
            <button class="btn btn-dark">Submit</button>
        </form>
    <% } %>
        <hr>

        <p><b>All reviews</b></p>
        <div class="row">
            <% for(review of allInfo.review) { %>
                    <div class="card col-5 ms-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@<%= review.author.username %></h5>
                        <p class="card-text"><%= review.comment %></p>
                        <p class="starability-result" data-rating="<%= review.rating %>"></p>
                    </div>
                    <form class="mb-3 mt-3" method="POST" action="/listings/<%= allInfo._id %>/review/<%= review._id %>?_method=DELETE">
                        <button class="btn btn-sm btn-dark">Delete</button>
                    </form>
                    </div>
            <% } %>
        </div>
    </div>
    <div class="container text-center my-4">
    <h3>Where you'll be</h3>
    <div id="map" style="height: 400px;"></div>
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', () => {
        maptilersdk.config.apiKey = "<%= map_api %>";
        const map = new maptilersdk.Map({
            container: 'map',
            style: maptilersdk.MapStyle.STREETS,
            center: [13.3975, 52.5196],
            zoom: 11
        });
  });
</script>




    
