<% layout("/layouts/boilerplate") %>
    <h2><%= allInfo.title %></h2>
    
    <div class="card" style="width: 20rem;">
    <img src="<%= allInfo.image.url %>" class="card-img-top show-img" alt="listing-image">
    <div class="card-body">
        <p class="card-text"></p>
    </div>
    </div>

    <ul>
        <li><%= allInfo.description %></li>
        <li><%= allInfo.location %></li>
        <li>&#8377;<%= allInfo.price ? allInfo.price.toLocaleString("en-IN") : "N/A" %>
</li>

    </ul>
    <div class="row">
    <div class="col-8 d-flex justify-content-start gap-2">
        <form action="/listings/<%= allInfo._id %>/edit" method="GET">
        <button class="btn btn-dark edit-btn">Edit</button>
        </form>
        <form method="POST" action="/listings/<%= allInfo._id %>?_method=DELETE">
        <button class="btn btn-dark delete-btn">Delete</button>
        </form>
    </div>
    </div>
    
